

div {
    display: inline-block;    
}

div.date {
    float: left;
    border : 1px solid black;
    height: 24vh;
    width: 10vw;
    padding : 1px;
}

div.week {
    float: left;
    border : 1px solid black;
    height: 24vh;
    width: 12vw;
    padding : 1px;    
    background-color: lightgoldenrodyellow; 
    overflow: hidden;
}   

div.weekend {
    background-color: #efefef;
}

div.EOL {
    display: block;
    float:clear;
}

div.backdate {
    border : 1px solid gray;
    color: gray;
    background: #bbb;
}

div.holiday {
    /* display: block;
    clear: both;
    float: none; */
    background-color: #ddf;
}

#currentYear {
    font-weight: bolder;
}

hr {
    display: block;
    clear: both;
}

div.controls {
    float: left;
    margin: 5px;
    font-size: 2.5vh;        
}

button, input, select {
    font-size: 2.5vh;
    text-align: center;
}

button.active {
    background-color: lightgreen;
}

label {
    font-size: 3vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;        
    transform: scale(1.75);        
}

@supports (-ms-ime-align: auto) {
    div.holiday {
        -webkit-animation: unset;        
    }
}